<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>DesirePath</title>
    {{!-- styling with bulma. learned from bulma documents. learned some things from freecodecamp for styling --}}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer
            src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-primary is-medium">
        <div class="hero-head"></div>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                    </a>
                    <span class="navbar-burger burger"
                          data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA"
                     class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/"
                           class="navbar-item">
                            Paths
                        </a>
                        <a href="/activity"
                           class="navbar-item">
                            Activities
                        </a>
                        <a href="/food"
                           class="navbar-item">
                            Food
                        </a>
                        <a href="/gasStation"
                           class="navbar-item">
                            Gas Stations
                        </a>
                        <a href="/scenery"
                           class="navbar-item">
                            Scenery
                        </a>
                        </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
        </div>
    </section>
    {{{body}}}

</body>

</html>