<section class="hero is-primary is-small is-transparent">
       <div class="hero-body is-centered">
              <div class="content title is-1 has-text-success">Add Gas Station</div>
       </div>
</section>
<section class="section has-background-primary">
       <form action="/gasStation"
             method="POST">
              <div class="field">
                     <label class="label has-text-white">Name</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="name"
                                   placeholder="Name"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Image Link</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="img"
                                   placeholder="Image Link"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Address</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="address"
                                   placeholder="Address"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">City</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="city"
                                   placeholder="City"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">State</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="state"
                                   placeholder="State"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Food Options</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="foodOptions"
                                   placeholder="Food Options"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Description</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="description"
                                   placeholder="Description"
                                   value="">
                     </div>
              </div>
              <button type="submit">Add Gas Station</button>
       </form>
</section>

