<form action="/"
      method="POST">
    <input type="text"
           name="name"
           placeholder="Name"
           value="">
    <input type="text"
           name="destinationAddress"
           placeholder="Destination Address"
           value="">
    <input type="text"
           name="destinationCity"
           placeholder="Destination City"
           value="">
    <input type="text"
           name="destinationState"
           placeholder="Destination State"
           value="">
    <input type="text"
           name="startingAddress"
           placeholder="Starting Address"
           value="">
    <input type="text"
           name="startingCity"
           placeholder="Starting City"
           value="">
    <input type="text"
           name="startingState"
           placeholder="Starting State"
           value="">
    <input type="text"
           name="description"
           placeholder="Description"
           value="">
    {{!-- <input type="text"
           name="stops"
           placeholder="Stops"
           value=""> --}}
    <input type="text"
           name="loggedBy"
           placeholder="Logged By"
           value="">
    <button type="submit">Add Stops</button>
</form>