<form action="/" method="POST">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="destination" placeholder="Link" value="">
    <input type="text" name="startingPoint" placeholder="Description" value="">
    <input type="text" name="img" placeholder="Image" value="">
    <input type="text" name="createdAt" placeholder="Date Posted" value="">
    <button type="submit">Post</button>
</form>