<section class="hero is-primary is-small is-transparent">
       <div class="hero-body is-centered">
              <div class="content title is-1 has-text-white">Create a Path</div>
       </div>
</section>
<section class="section has-background-primary">
       <form action="/"
             method="POST">
              <div class="field">
                     <label class="label has-text-white">Name</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="name"
                                   placeholder="Name"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Destination Address</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="destinationAddress"
                                   placeholder="Image Link"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Destination City</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="destinationCity"
                                   placeholder="Destination City"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Destination State</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="destinationState"
                                   placeholder="Destination State"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Starting Address</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="startingAddress"
                                   placeholder="Starting Address"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Starting City</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="startingCity"
                                   placeholder="Starting City"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Starting State</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="startingState"
                                   placeholder="Starting State"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Description</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="description"
                                   placeholder="Description"
                                   value="">
                     </div>
              </div>
              <div class="field">
                     <label class="label has-text-white">Logged By</label>
                     <div class="control">
                            <input class="input"
                                   type="text"
                                   name="loggedBy"
                                   placeholder="Logged By"
                                   value="">
                     </div>
              </div>
              <button type="submit">Add Activity</button>
       </form>
</section>