<form action="/scenery"
      method="POST">
    <input type="text"
           name="name"
           placeholder="Name"
           value="">
    <input type="text"
           name="img"
           placeholder="Image Link"
           value="">
    <input type="text"
           name="address"
           placeholder="Address"
           value="">
    <input type="text"
           name="city"
           placeholder="City"
           value="">
    <input type="text"
           name="state"
           placeholder="State"
           value="">
    <input type="text"
           name="description"
           placeholder="Description"
           value="">
    <button type="submit">Add Scenery</button>
</form>